<h1>Welcome to Autorrent</h1>
{{#if user}}
  Welcome {{user.name}}
  <a href="/logout">Logout</a>
{{else}}
  <a href="/auth/tvst">Log in</a>
{{/if}}

<ul>
  {{#each episodes}}
    <li>
      {{episodeData.show.name}} S{{episodeData.season_number}}E{{episodeData.number}}: {{episodeData.name}}
      /
      {{#if extraResult}}
        <a href="{{extraResult.link}}">{{extraResult.name}}</a> ({{extraResult.size}})
      {{else}}
        No torrents
      {{/if}}
    </li>
  {{/each}}
</ul>
