<h1>Welcome to Autorrent</h1>
{{#if user}}
  Welcome {{user.name}}
{{else}}
  <a href="/auth/tvst">Log in</a>
{{/if}}

<ul>
  {{#each episodes}}
    <li>{{show.name}} S{{season_number}}E{{number}}: {{name}}</li>
  {{/each}}
</ul>
